.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color:  rgba(0,0,0,0.1); */
    position: absolute;
    left: 5%;
    right: 5%;
    top: 19vh;
    bottom: 15%;
    transition: 550ms;
}
.loader-container.active {
    /* width: 90%; */
    right: 18.5%;
    transition: 350ms;
}
.loader {
    border: 10px solid #ebeaea; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}