/* Table container */
.book-main-content {
    margin-top: 20px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    padding: 0% 5% 0 5%;
}
.table-container {
    width: 100%;
    transition: 550ms;
}
.table-container.active {
    width: 85%;
    transition: 350ms;
}

/* Table row header */
.table-row-header {
    flex: 1;
    display: flex;
}
.table-header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    height: 30px;
}
.table-header.data {
    flex: 5.5;
}
.table-header.action {
    padding-left: 10px;
    flex: 1;
}

/* Table row content */
.table-row-content {
    flex: 1;
    display: flex;
}
.table-content {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: left;
    border-radius: 4px;
    height: 50px;
    margin-top: 15px;
    box-shadow: 0.5px 3px 3px 3px rgba(0,0,0,0.2);
}
.table-content.data {
    flex: 5.5;
}
.table-content.action {
    flex: 1;
    margin-left: 10px;
}

/* Content item */
.item-image {
    width: 100%;
    height: 100%;
}
.item-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item-name.title {
    max-width: 20ch;
}
.item-name.desc {
    max-width: 34ch;
}
.item-name.pub {
    max-width: 13ch;
}
.white {
    color: white;
    font-weight: 550;
}
.content-item {
    height: 100%;
    display: flex;
    align-items: center;
}
.content-item.h-image {
    flex: 1;
    margin-right: 15px;
}
.content-item.image {
    flex: 1;
    height: 100%;
    margin-right: 15px;
}
.content-item.no {
    flex: 1.3;
}
.content-item.title {
    flex: 3;
}
.content-item.desc {
    flex: 5;
}
.content-item.pub {
    flex: 2;
}
.content-item.pubdate {
    flex: 1.8;
}
.content-item.action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 2.5;
}
.link-icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.action-icon {
    height: 17px;
    background-size: contain;
}
.eye {
    height: 14px;
}
.btn-icon {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
}
.table-msg {
    flex: 1;
    display: flex;
    background-color: #3cbfec;
    color: white;
    font-size: 15px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-top: 15px;
    box-shadow: 0.5px 3px 3px 3px rgba(0,0,0,0.2);
}
.table-msg.warn {
    background-color: #ff8577;
}