/* Side nav */
.menu-container {
    width: 100%;
}
.top-menu {
    height: 38px;
    background-color: #2cbeef;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.3);
}
.main-menu {
    height: 100vh;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.3);
    background: linear-gradient(to bottom, #2cbeef, #7ddeff);
}
.side-nav {
    height: 100vh;
    width: 230px;
    position: fixed;
    top: 0;
    left: -191px;
    transition: 550ms;
    z-index: 1;
    display: flex;
}
.side-nav.active {
    left: 0;
    transition: 350ms;
}
.logo {
    border-bottom: 1px solid white;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    flex: 1;
}
.logo-img {
    background-size: contain;
    height: 75px;
    width: 75px;
}
.burger-container {
    height: 100vh;
}
.burger {
    height: 38px;
    width: 42px;
    padding: 10px;
    border: none;
    background-color: #2cbeef;
    cursor: pointer;
    color: white;
    transition: 550ms;
    box-shadow: 2px 3px 2px 2px rgba(0,0,0,0.3);
    border-radius: 4px;
}
.burger.active {
    box-shadow: none;
    margin-left: -42px;
    transition: 350ms;
    margin-right: 42px;
}
.burger:focus {
    border: none;
    outline: none;
    box-shadow: 2px 3px 2px 2px rgba(0,0,0,0.3);
}
.burger.active:focus {
    box-shadow: none;
}
.burger-icon {
    height: 13px;
    background-size: contain;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
    font-size: 16px;
    text-decoration: none;
    color: white;
}
.menu {
    flex-direction: column;
}
.link-menu {
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
    font-weight: 550;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 6% 0 6% 10%;
    text-align: left;
}
.link-menu.active {
    background-color: #378fad;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}
li:hover {
    background-color: #378fad;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1024px) {
    .side-nav {
        width: 200px;
        left: -168px;
    }
    .burger {
        height: 38px;
        width: 38px;
    }
}