/* Modal container */
.modal-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color:  rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-container.img {
    background-color:  rgba(0,0,0,0.9);
}

/* Modal content */
.modal-content {
    height: 55vh;
    width: 25%;
    background-color: white;
    box-shadow: 0.5px 3px 3px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.modal-icon-msg {
    padding: 10% 0;
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.modal-icon {
    height: 60%;
    background-size: contain;
}
.modal-title {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 600;
}
.modal-msg {
    text-align: center;
    margin: 10px 20px;
    color: #555;
}
.modal-img {
    /* height: 100%; */
    /* background-size: contain; */
}
.modal-content-img {
    background-color: white;
    box-shadow: 0.5px 3px 3px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.btn-close-modal {
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 50%;box-shadow: 0.5px 3px 3px 3px rgba(0,0,0,0.2);
    background-color: #3cbfec;
    color: white;
    box-shadow: 0.5px 3px 3px 3px rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
    font-weight: 600;
}

/* Modal button*/
.modal-btn {
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 20px;
}
.btn-left {
    color: #378fad;
    text-decoration: none;
    font-weight: 550;
    font-size: 12px;
    height: 65%;
    display: flex;
    align-items: center;
}
.btn-right {
    background-color: #3cbfec;
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    font-weight: 550;
    height: 65%;
    padding: 0 10%;
    border-radius: 4px;
}
.btn-left.failed {
    color: tomato;
}
.btn-right.failed {
    background-color: tomato;
}