/* Header content */

/* Container */
.header-container {
    height: 10vh;
    width: 100%;
    padding: 0% 5% 0 5%;
}

/* Content */
.res-header-container {
    width: 100%;
    transition: 550ms;
    display: flex;
    justify-content: space-between;
}
.res-header-container.active {
    width: 85%;
    transition: 350ms;
}
.header-content {
    flex: 1;
    padding-bottom: 10px;
}
.header-content.right {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

/* Left content */
.header-title-container {
    width: 165px;
    height: 55px;
    background-color: #3cbfec;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 25px 25px;
}
.header-title {
    /* font-family: Roboto; */
    font-size: 28px;
    font-weight: 550;
    color: white;
}

/* Right content */
.link-add {
    text-decoration: none;
    color: black;
    display: flex;
    background-color: white;
    border-radius: 4px;
    width: 140px;
    height: 40px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
    border-radius: 4px;
}
.btn-title-add {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: Roboto; */
    font-size: 17px;
    font-weight: 550;
    border-radius: 4px;
}
.btn-icon-add {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #378fad;
    width: 30%;
    height: 100%;
    /* font-family: Roboto; */
    font-size: 25px;
    font-weight: 550;
    color: white;
    border-radius: 4px;
}
.icon-add {
    height: 25px;
    background-size: contain;
}