/* Form Container */
.form-book-container {
    display: flex;
    height: 100vh;
}

/* Content */
.content {
    position: fixed;
    top: 0;
    left: 0;
    transition: 550ms;
    width: 100%;
}
.content.active {
    left: 180px;
    transition: 350ms;
}

/* Main Content */
.form-main-content {
    margin-top: 20px;
    height: 100vh;
    padding: 0% 5% 0 5%;
}
.form-container {
    width: 100%;
    height: 85%;
    transition: 550ms;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form-container.active {
    width: 85%;
    transition: 350ms;
}

/* Form row */
.form-row {
    display: flex;
    height: 35px;
    margin-bottom: 15px;
}
.form-row.desc {
    height: 80px;
}
.form-label {
    width: 13%;
    font-weight: 600;
    margin-top: 5px;
}
.form-input {
    font-family: sans-serif;
    border: none;
    outline: none;
    width: 70%;
    border-radius: 4px;
    box-shadow: 0.5px 3px 3px 3px rgba(0,0,0,0.2);
    padding: 0 15px 0 15px;
}
.form-input.validate {
    border: 1px solid tomato;
}
.form-input.desc {
    padding: 10px 15px 10px 15px;
}
.form-input.file {
    padding: 0;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
.btn-label {
    display: flex;
    align-items: center;
    width: 90%;
}
.form-input-file {
    display: none;
    width: 30%;
    height: 100%;
}
.label-btn-upload {
    display: block;
    width: 125px;
    height: 100%;
    background-color: #3cbfec;
    padding: 10px 15px;
    color: white;
    font-weight: 550;
    font-size: 13px;
    border-radius: 4px 0px 0px 4px;
    cursor: pointer;
    margin-right: 10px;
}
.label-btn-upload:active {
    border: 1px solid #1a87ac;
}
.file-name {
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70%;
}
.file-name.failed {
    color: tomato
}
.req-type {
    display: flex;
    font-size: 10px;
    color: grey;
    margin-right: 5px;
}
.form-validate {
    display: flex;
    align-items: center;
    padding: 0 10px;
    width: 17%;
}
.up-loader {
    border: 4px solid #ebeaea; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 22px;
    height: 22px;
    animation: spin 2s linear infinite;
}
.up-msg {
    font-size: 12px;
    font-weight: 550;
    color: rgb(25, 187, 25);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 20ch;
}
.up-msg.failed {
    color: tomato;
}
.btn-show-img {
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
}
.btn-copy {
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    height: 100%;
}

/* Form footer */
.form-footer {
    padding: 15px 0;
    width: 100%;
    display: flex;
}
.form-btn {
    display: flex;
    justify-content: space-between;
    width: 83%;
}
.btn-footer {
    text-decoration: none;
    color: black;
    background-color: tomato;
    color: white;
    font-weight: 550;
    font-size: 15px;
    padding: 10px 25px;
    border-radius: 6px;
    outline: none;
    border: none;
    cursor: pointer;
}
.btn-footer.submit {
    background-color: #3cbfec;
}
.up-loader.submit {
    margin: 0 14px;
    border: 4px solid #ebeaea; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}